<h1>Tours index</h1>
<div class="cards">
  <% @tours.each do |tour|%>
    <div class="tour-card p-3">
      <%= cl_image_tag @tour.photo.key, height: 300, width: 400, crop: :fill %>
      <h2><%= link_to tour.title, tour_path(tour) %></h2>
        <p><%= tour.description %></p>
      <h2 class="card-trip-pricing">$ <%= tour.price %></h2>
    </div>
  <% end %>
</div>
