<%# <h1>Tours#index</h1>
<p>Find me in app/views/tours/index.html.erb</p> %>
<h1>Tours index</h1>
<% @tours.each do |tour|%>


  <div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= link_to tour.title, tour_path(tour) %></h2>
      <p><%= tour.description %></p>
    </div>
    <h2 class="card-trip-pricing">$ <%= tour.price %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
<br>

<% end %>
