.booking-link {
text-align: right;
position:relative;
float: right;
text-decoration: none;
padding-left: 10px;
padding-right: 10px;
}

.nav-link {
    color: white !important;
}

.nav-link-red {
    color: red !important;
}

.nav-link-red:hover {
    color: white !important;
}


.booking-link:hover {
color: #1EDD88;
}
